@import "../../../styles/variables.scss";

.input {
  position: absolute;
  z-index: 4;
  left: 0;
  width: calc(100% - 59px);
  border-radius: 10px;
  border: 1px solid #f0f0f0;
  outline: none;
  height: 30px;
  box-shadow: -6px 2px 32px 0px rgba(105, 105, 105, 0.54);
  padding-left: 1rem;
  font-family: $montserrat;
}
