@import '../../../styles/variables.scss';

.listContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    .contentlist {
        position: relative;
        max-height: 0;
        opacity: 0;
        .parraphList {
            margin-bottom: 5rem;
            width: 12rem;
            position: relative;
            p {
                color: $white;
                font-family: $montserrat;
                margin: 0;
                &.principalText {
                    font-size: 1.5rem;
                    font-weight: 700;
                    text-transform: uppercase;
                }
                &:last-child {
                    font-size: 1rem;
                }
            }
            &::before {
                content: '';
                width: 10px;
                height: 10px;
                background-color: $lightBlue;
                top: 10px;
                left: -18px;
                z-index: 55;
                position: absolute;
                border-radius: 50%;
            }
        }

        &::before {
            content: '';
            width: 1px;
            height: 84%;
            background-color: $lightBlue;
            top: 1rem;
            left: -13.5px;
            z-index: 55;
            position: absolute;
        }
    }
}

@media (min-width: 1000px) {
    .listContainer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        z-index: 55;
        padding: 2rem 0;
        .contentlist {
            position: relative;
            display: flex;
            .parraphList {
                margin: 0 1rem 5rem 1rem;
                width: 100%;
                position: relative;
                p {
                    &.principalText {
                        font-size: 2rem;
                        font-weight: 700;
                        text-transform: uppercase;
                        text-align: center;
                    }
                    &:last-child {
                        font-size: 1.5rem;
                        text-align: center;
                    }
                }
                &::before {
                    content: '';
                    width: 10px;
                    height: 10px;
                    background-color: $white;
                    box-shadow: -1px 1px 15px 4px rgba(0, 135, 253, 0.99);
                    top: 79px;
                    left: 60px;
                    z-index: 55;
                    position: absolute;
                    border-radius: 50%;
                }
            }

            &::before {
                content: '';
                width: 0%;
                height: 2px;
                background-color: $white;
                transform: translate(0, 0);
                top: 82px;
                left: 70.5px;
                z-index: 40;
                position: absolute;
            }
            &::after {
                content: '';
                width: 0%;
                height: 2px;
                background-color: $lightBlue;
                top: 82px;
                left: 70.5px;
                z-index: 45;
                transform: translate(0, 0);
                position: absolute;
                box-shadow: -1px 1px 10px 4px rgba(0, 135, 253, 0.4);
            }
        }
    }
}

@media (min-width: 1200px) {
    .listContainer {
        .contentlist {
            .parraphList {
                margin: 0 3rem 5rem 3rem;
                &::before {
                    top: 79px;
                    left: 80px;
                }
            }

            &::before {
                left: 115px;
            }
            &::after {
                left: 115px;
            }
        }
    }
}

@media (min-width: 1400px) {
    .listContainer {
        .contentlist {
            .parraphList {
                &::before {
                    top: 79px;
                    left: 80px;
                }
            }

            &::before {
                left: 118px;
            }
            &::after {
                left: 118px;
            }
        }
    }
}

@media (min-width: 1600px) {
    .listContainer {
        .contentlist {
            .parraphList {
                margin: 0 4rem 5rem 4rem;
            }
        }
    }
}
