@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.graphContainer {
  margin-top: 4rem;
  min-height: 80rem;
  .titleGraphic {
    @include graphic-title(20rem, transparent, $white);
    margin-bottom: 4rem;
    height: 4.5rem;
    position: relative;
    overflow: hidden;
    &:before {
      content: "";
      position: absolute;
      width: 0;
      height: 100%;
      top: 0;
      left: 0;
    }
  }
  .textContainerAnimation {
    margin: 1rem;
  }
  .servicesItemContainer {
    display: flex;
    margin-bottom: 3rem;
    position: relative;
    .descriptionContainer {
      width: 100%;
      padding-left: 2rem;
      .titleDescription {
        @include graphic-title(20rem, $grandientBackground, $white);
        .seeMore {
          box-shadow: -1px 1px 10px 1px rgba(255, 255, 255, 0.7);
          background-color: $textBlue;
          color: $white;
          border-radius: 25px;
          padding: 2px 8px;
          line-height: 2;
          margin-left: 5px;
        }
      }
      .graphDescription {
        font-size: 1.5rem;
        color: $white;
        font-family: $montserrat;
      }
    }
    &::before {
      content: "";
      width: 1px;
      height: calc(100% - 30px);
      background-color: $white;
      position: absolute;
      left: 30px;
      bottom: -30px;
    }
  }

  .secondSection {
    .servicesItemContainer {
      &:last-child::before {
        width: 0;
        height: 0;
      }
    }
  }
}

@media (min-width: 600px) {
  .graphContainer {
    min-height: 60rem;
  }
}
