.container {
  position: absolute;
  left: 87px;
  top: 58px;
  transform: scale(2) translate(0, 0);
  div {
    position: absolute;
    width: 10rem;
    svg {
      width: 100%;
    }
    &.line1 {
      left: -38px;
      width: 6rem !important;
      transform: translate(0px, 0px);
      top: -61px;
    }
    &.line2 {
      bottom: -197px;
      transform: translateX(0);
    }
    &.line3 {
      left: -100px;
      top: 101px;
      transform: translate(0, 0);
    }
  }
}
