@import '../../../styles/variables.scss';

.companiesContainer {
    background-color: rgb(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    margin-top: 2rem;
    flex-wrap: wrap;
    border: 1px solid $white;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    box-shadow: -1px 1px 15px 4px rgba(0, 135, 253, 0.99);
    // max-height: 0;
    transition: height 1s ease-in;
    .companiesImgDesktop {
        width: 12rem;
    }

    .companiesImgMobile {
        width: 8rem;
    }

    .imgContainer {
        margin: -0.5rem;
        width: 33%;
        display: flex;
        justify-content: center;
    }
}

.plusIconContainer {
    position: absolute;
    bottom: 50px;
    left: 50%;
    margin-bottom: 13px;
    transform: translateX(-50%);
    z-index: 10;
    background: #212121;
    border-radius: 50%;
    padding: 0;
    box-shadow: -1px 1px 15px 1px rgba(0, 135, 253, 0.99);
    cursor: pointer;
}

@media (min-width: 400px) {
    .imgContainer {
        margin: 0;
    }
}

@media (min-width: 700px) {
    .companiesContainer {
        .imgContainer {
            width: 18%;
        }
    }
}

@media (min-width: 1000px) {
    .companiesContainer {
        .imgContainer {
            margin: -1rem;
            width: 25%;
        }
    }
}

@media (min-width: 1200px) {
    .companiesContainer {
        padding-bottom: 0;
        .imgContainer {
            margin: 0 -5rem;
        }
    }
}

@media (min-width: 1760px) {
    .companiesContainer {
        .imgContainer {
            width: 22%;
        }
    }
}

@media (min-width: 2166px) {
    .companiesContainer {
        .imgContainer {
            width: 20%;
        }
    }
}
