.linesHomeSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 5rem;
  .lines {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4rem 0;
  }
}

@media (min-width: 1000px) {
  .linesHomeSection {
    padding-bottom: 0;
    height: calc(100% - 27rem);
    .lines {
      margin: 5rem 0;
      padding: 5rem 0 10rem 0;
    }
  }
}

@media (min-width: 1300px) {
  .lines {
    margin-bottom: 0;
    padding: 0 0 10rem 0;
  }
}
