.linesHomeSection {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  .linesGraphicContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4rem 0;
  }
}

@media (min-width: 1000px) {
  .linesHomeSection {
    .linesGraphicContainer {
      margin: 5rem 0;
      padding: 5rem 0 10rem 0;
    }
  }
}

@media (min-width: 1300px) {
  .linesGraphicContainer {
    // margin-top: -13rem;
    margin-bottom: 0;
    padding: 0 0 10rem 0;
  }
}

@media (min-width: 1800px) {
  .linesGraphicContainer {
    // margin: -16rem 0 -20rem 0;
  }
}

@media (min-width: 1920px) and (min-height: 1080px) {
  .linesGraphicContainer {
    // margin: -40rem 0 -20rem 0 !important;
  }
}
