@import "../../../../styles/mixins.scss";
@import "../../../../styles/variables.scss";

.logoLoadingContainer {
    width: 100%;
    height: 100vh;
    background-color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .imgContainer {
        width: 100%;
    }
}

.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: black;
    video {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
        z-index: -1;
    }
    .main {
        width: 100%;
        z-index: 1;
        position: relative;
        top: 0;
        left: 0;
        .contentContainer {
            z-index: 6;
            padding-bottom: 8rem;
            padding-top: 4rem;
            height: 100%;
            .contentWrapper {
                display: flex;
                width: 100%;
                padding: 2rem 1rem 0 1rem;
                margin-bottom: 10rem;
                .imgContainer {
                    position: relative;

                    .usImgMobile {
                        width: 10rem;
                    }
                }
            }
            .textContainerSubContainer {
                .titleContainer {
                    @include title-container-style;

                    .title {
                        .icon1 {
                            width: 3rem;
                        }
                        .icon2 {
                            width: 2rem;
                        }
                        .icon3 {
                            width: 3.5rem;
                        }
                    }
                }
                .textContainer {
                    padding: 5rem 4rem;
                }
            }
            .title {
                color: $white;
                font-size: 3rem;
                font-family: $montserrat;
                font-weight: 700;
                text-transform: uppercase;
            }
            .description {
                color: $white;
                font-size: 1.5rem;
                font-family: $montserrat;
                font-weight: 500;
                margin: 0;
                &:first-child {
                    padding-top: 1.8rem;
                }
                .subTitle {
                    text-decoration: underline;
                    color: $textBlue;
                    font-weight: bold;
                }
            }
            .aclaration {
                font-size: 1.6rem;
                color: $textBlue;
                font-weight: 400;
                height: 8rem;
                border-left: 2px solid $textBlue;
                padding-left: 2rem;
                padding-top: 0.8rem;
                font-family: $beVietnam;
            }
            .graphicContainer {
                display: flex;
                justify-content: center;
                position: relative;
                padding-top: 5rem;
                height: 25rem;
                margin-top: 5rem;
                .graphic {
                    .iconText {
                        position: absolute;
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        &:first-child {
                            top: 0;
                            left: 50%;
                            transform: translate(-50%, 0);
                        }
                        &:nth-of-type(2) {
                            right: 0;
                            bottom: 0;
                        }
                        &:last-child {
                            left: 0;
                            bottom: 0;
                        }
                        .graphicText {
                            color: $textBlue;
                            text-transform: uppercase;
                            font-family: $montserrat;
                            background-color: $white;
                            padding: 5px;
                            font-size: 1rem;
                            font-weight: 500;
                            border-radius: 25px;
                            text-align: center;
                        }
                        img {
                            width: 5rem;
                            position: relative;
                            &:first-child {
                                &::before {
                                    content: '';
                                    width: 1px;
                                    height: 100%;
                                    position: absolute;
                                    background-color: $textBlue;
                                }
                            }
                        }
                    }
                }
            }
            .titleContainer {
                &.titleContainerPrincipal {
                    @include title-container-style;
                    padding-top: 5rem;
                    width: 65vw;
                }
            }
        }
        &::before {
            content: '';
            width: 100%;
            height: 100%;
            background-color: rgb(0, 0, 0, 0.5);
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }
    }
}

@media (min-width: 500px) {
    .wrapper {
        .main {
            .contentContainer {
                .contentWrapper {
                    .imgContainer {
                        width: 30%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    }
                }
                .textContainerSubContainer {
                    .titleContainer {
                        .title {
                            font-size: 3.5rem;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 700px) {
    .wrapper {
        .main {
            .contentContainer {
                padding-top: 5rem;
                .description {
                    font-size: 2rem;
                }
                .titleContainer {
                    &.titleContainerPrincipal {
                        width: 50vw !important;
                    }
                }
            }
        }
    }
}

@media (min-width: 900px) {
    .wrapper {
        .main {
            .contentContainer {
                & > .title {
                    padding-top: 10rem;
                }
            }
        }
    }
}

@media (min-width: 950px) {
    .wrapper {
        .main {
            .contentContainer {
                padding-top: 5rem;
                .description {
                    font-size: 2rem;
                }
                .contentWrapper {
                    .imgContainer {
                        .icon {
                            position: relative;
                            &::before {
                                content: '';
                                position: absolute;
                                background-color: rgba(8, 133, 230, 0.65);
                                width: 30px;
                                height: 30px;
                                box-shadow: -1px 0px 30px 12px rgba(8, 133, 230, 1);

                                border-radius: 50%;
                                z-index: 0;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                opacity: 0;
                                transition: all 0.7s ease-in;
                            }
                            &:hover::before {
                                opacity: 1;
                            }
                        }
                        .imgUsContainer {
                            display: flex;
                            .thirdIcon {
                                margin-top: 2rem;
                            }
                            .setAnimation2 {
                                transform: translateX(150rem);
                                margin: 5rem 0;
                            }
                            .setAnimation3 {
                                margin-top: 20rem;
                                margin-left: -15rem;
                            }
                        }
                    }
                    .textIconDescription {
                    }
                }
                .titleContainer {
                    &.titleContainerPrincipal {
                        width: 40vw !important;
                    }
                }
            }
        }
    }
}

@media (min-width: 1000px) {
    .wrapper {
        .main {
            .contentContainer {
                .contentWrapper {
                    .imgContainer {
                        .imgUsContainer {
                            margin-top: -4rem;
                            .thirdIcon {
                                margin-left: -4rem;
                                margin-top: 4rem;
                            }
                        }
                        .usImgDesktop {
                            width: 14rem !important;
                            height: 13.5rem;
                        }
                    }
                }
                .title {
                    font-size: 5rem;
                }
                .description {
                    font-size: 1.5rem;
                }
                .aclaration {
                    padding-top: 1.5rem;
                    margin-bottom: 5rem;
                    font-size: 2rem;
                }
                .graphicContainer {
                    width: 50rem;
                    height: 35rem;
                    .graphic {
                        .iconText {
                            .graphicText {
                                font-size: 2rem;
                            }
                        }
                    }
                }
                .textContainerSubContainer {
                    .textContainer {
                        padding: 8rem 6rem;
                    }
                    .titleContainer {
                        @include title-container-style;
                        .title {
                            .icon1 {
                                width: 4rem;
                            }
                            .icon2 {
                                width: 3rem;
                            }
                            .icon3 {
                                width: 4.5rem;
                            }
                        }
                    }
                }
            }
        }
        .userContainer {
            position: absolute;
            bottom: 24rem;
        }
    }
}

@media (min-width: 1200px) {
    .wrapper {
        overflow-x: hidden;
        .main {
            .contentContainer {
                .contentWrapper {
                    padding: 5rem 1rem 0 1rem;
                    .imgContainer {
                        align-items: flex-start;
                    }
                }
                .textContainerSubContainer {
                    .textContainer {
                        padding: 4rem 16rem;
                    }
                }
            }
        }
    }
}

@media (min-width: 1800px) {
    .wrapper {
        .main {
            .contentContainer {
                .contentWrapper {
                    max-width: 144rem;
                }
            }
        }
    }
}
