@import "../../../styles/variables.scss";

.iconContainer {
  width: 6.3rem;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border: 1px solid $white;
  box-shadow: -1px 1px 15px 4px rgba(0, 135, 253, 0.99);
  height: 5.5rem;
  padding: 1.3rem;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.1);
  z-index: 10;
  &.plus .designContainer {
    padding: 3rem;
  }
}

@media (min-width: 1200px) {
  .iconContainer {
    width: 13rem;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
