.openBtnNav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-top: 2rem;
    padding-right: 2rem;
    border: none;
    background: transparent;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
}
