@import "../../../styles/variables.scss";

.inputContainer {
    display: flex;
    position: relative;
    margin-top: 1rem;
    .button {
        position: absolute;
        z-index: 2;
        right: 10px;
        height: 30px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        padding-left: 2rem;
        padding-right: 1rem;
        border: none;
        background-color: $lightBlue;
        color: $white;
        font-family: $montserrat;
        font-size: 1.1rem;
        box-shadow: 13px 2px 32px 0px rgba(105, 105, 105, 0.54);
    }
}

@media (min-width: 700px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: space-betweensd;
        width: calc(100% - 400px);
        margin-left: auto;
        .inputContainer {
            width: 100%;
           
            top: -15px;
            margin-top: 0;
        } 
    }
}

@media (min-width: 1000px) {
    .container {
        .inputContainer {
            width: 100%;
        }
    }  
}

@media (min-width: 1200px) {
    .container {
        .inputContainer {
            width: 100%;
        }
        
    }
}