@import '../../../styles/variables.scss';

.logoLoadingContainer {
    width: 100%;
    height: 100vh;
    background-color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .text {
        color: $greyTextLogo;
        margin-top: 1rem;
        font-size: 1.3rem;
        font-weight: 300;
        text-align: center;
    }
}
