//Colors

$greyBackground: #dedede;
$white: #ffffff;
$black: #000000;
$lightBlue: #0889ea;
$textBlue: #0885e6;
$grandientBackground: linear-gradient(
  90deg,
  rgba(23, 146, 238, 1) 65%,
  rgba(55, 163, 244, 1) 77%,
  rgba(110, 193, 255, 1) 92%,
  rgba(255, 255, 255, 1) 100%
);
$darkGreen: #002c3d;
$blueShadow: -1px 1px 15px 4px rgba(0, 135, 253, 0.99);
$greyTextLogo: #4c4c4c;

//Font

$beVietnam: "Be Vietnam", sans-serif;
$montserrat: "Montserrat", sans-serif;
