@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.graphContainer {
  display: flex;
  position: relative;
  max-width: 91rem;
  margin-bottom: 35rem;
  .titleContainer {
    display: flex;
    margin-top: 16rem;
    margin-bottom: 4rem;
    align-items: center;
    justify-content: center;
  }
  .titleGraphic {
    @include graphic-title(20rem, transparent, $white);
    height: 5rem;
    font-size: 1.8rem;
    position: relative;
    overflow: hidden;
    margin-right: 1rem;
    &:before {
      content: "";
      position: absolute;
      width: 0;
      height: 100%;
      top: 0;
      left: 0;
    }
  }
  .firstSection,
  .secondSection {
    display: flex;
    .servicesItemContainer {
      width: 50%;
      display: flex;
      margin-bottom: 3rem;
      position: relative;
      opacity: 1;
      &::before {
        content: "";
        width: 0;
        height: 0;
        top: 0;
        left: 0;
      }
      .titleDescription {
        @include graphic-title(16em, $grandientBackground, $white);
        font-size: 1.8rem;
        justify-content: space-between;
        display: flex;
        padding-right: 2rem;
        span {
          background-color: $textBlue;
          color: $white;
          border-radius: 25px;
          padding: 0.5rem 1rem;
          line-height: 1;
        }
      }
      .descriptionContainer {
        width: 100%;
        padding-left: 2rem;
        .graphDescription {
          font-size: 1.5rem;
          color: $white;
          font-family: $montserrat;
        }
      }
    }
  }
  .firstSection {
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    right: -8rem;
    left: 0;
    transform: translate(0, 0);
    .servicesItemContainer {
      justify-content: flex-end;
      margin-bottom: 7rem;
      transform: translate(0, 0);
      &:first-child {
        margin-top: -7rem;
        left: -7rem;
      }
      &:nth-of-type(2) {
        margin-top: 6rem;
        left: 8.5rem;
      }
    }
  }
  .secondSection {
    flex-direction: row-reverse;
    position: absolute;
    left: 1rem; //20re
    bottom: -46rem;
    transform: translate(0, 0);
    .servicesItemContainer {
      justify-content: flex-start;
      &:nth-of-type(1) {
        top: 4rem;
        left: -4rem;
        transform: translate(0, 0);
      }
      &:nth-of-type(2) {
        margin-right: 8rem;
        flex-direction: column;
        top: -8rem;
        right: -3rem;
        transform: translate(0, 0);
        .descriptionContainer {
          width: 75%;
          margin-top: 2rem;
          margin-left: -2rem;
        }
      }
    }
  }
}
