@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.graphContainer {
  display: flex;
  position: relative;
  max-width: 91rem;
  margin-bottom: 35rem;
}

@media (min-width: 1200px) {
  .graphContainer {
    margin: 0;
  }
}

@media (min-width: 1800px) {
  .graphContainer {
    top: 28px;
    left: 35px;
    transform: translate(0, 0) scale(1.2);
  }
}
